<!DOCTYPE html>
<html>
<head>
  <title>ContactBook</title>
  <%= stylesheet_link_tag    'application', 'http://code.jquery.com/ui/1.12.0/themes/redmond/jquery-ui.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script>
  $( function() {
    $( "#accordion" ).accordion();
  } );
</script>
</head>
<body>

<%= yield %>

</body>
</html>
