<% provide(:title, 'Help') %>

<h1>Auto Dealership</h1>
<h2>Audition</h2>

<h3>Use Cases:</h3>

<ol>
  <li>As the dealer's owner, I need to be able to access a web page that allows me to add or remove locations for my company.
</li>
  <li>As the dealer's inventory manager, I need to be able to access a web page that allows me to add and remove vehicles.
</li>
  <li>As a salesman, I need to be able to access a web page that allows me to view the company's inventory. I should be able to view the make, model, price, location on this page. When I click on the car, it should take me to another page that allows me to view more information about the vehicle.</li>
  <li>As a salesman, I need to be able to mark a car as sold and log that I did it, and for how much.</li>
  <li>As the dealer's inventory manager, I need to be able to access a web page that allows me to edit the location of a vehicle.</li>
</ol>

<h3>Testing:</h3>

<p>The following users are available for testing (with appropriate authorizations):</p>

<ul>
  <li>email: owner@autodealership.com, password: foobar</li>
  <li>email: manager@autodealership.com, password: foobar</li>
  <li>email: sales@autodealership.com, password: foobar</li>
</ul>