@import "materialize/components/color";
$primary-color: color("blue-grey", "lighten-1") !default;
$secondary-color: color("light-green", "darken-1") !default;
@import 'materialize';
@import 'contacts'