
<div class="content">
  <h1>Dealership</h1>
  <h3>Welcome to the Dealership website.</h3>

  <div class="row">
    <div class="col-xs-4">
      <%= image_tag("porsche2.jpg", width: "100%") %>
    </div>
    <div class="col-xs-3">
      <div class="alert alert-success">
        Beautiful Porsche for sale. Only $1.8 Million to drive off the lot. <br/>
        A 74 MPG e-Hybrid!
      </div>

      <hr/>
      <br/>
      <%= render "login_partial" %>

    </div>
  </div>
</div>
