<h1>Editing Vehicle</h1>

<% if session[:current_position] != '3' %>
<%= render 'form' %>
<% else %>
<%= render 'sold' %>
<% end %>

<%= link_to 'Show', @vehicle %> |
<%= link_to 'Back', vehicles_path %>
