<div class="container">
  <div class="row justify-content-center title-padding">
    <h1><%= "Dealership Locations"%><h1>
  </div>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>City</th>
          <th>State</th>
        </tr>
      </thead>
      <tbody>
        <% @locations.each do |location| %>
        <tr>
          <td><p class="lead"><%= "#{location.name}" %></p></td>
          <td><p class="lead"><%="#{location.city}" %></p></td>
          <td><p class="lead"><%="#{location.state}" %></p></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
