/* Slate
 * Bootswatch
 *= require_self
 *= require slate/loader
 *= require slate/bootswatch
 *= require devise_bootstrap_views
*/

#q_name_or_home_phone_cont, #q_name_cont {
  width: 270px;
}

.devise-bs {
  margin-top: 80px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}