<div class="panel panel-default">
  <% if @user %>
    <div class="panel-heading">
      <h3 class="panel-title">Welcome <%= @user.name %></h3>
    </div>

    <% if @user.owner? %>
        <div class="panel-body">
          <%= link_to 'View Locations', locations_path %>
        </div>
    <% end %>

    <div class="panel-body">
      <%= link_to 'Vehicles', vehicles_path %>
    </div>
  <% else %>
    <div class="panel-body">
      <%= link_to "Please Log In", login_path %>
    </div>
  <% end %>

</div>