- flash.each do |name, msg|
  .alert{:class => "alert-#{ name == 'notice' ? "success" : "danger" }"}
    %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
      %span{"aria-hidden" => "true"} ×
    = msg
