<% provide(:title, 'Add Vehicle') %>
<% provide(:button_text, 'Add Vehicle') %>
<h1>Add Vehicle</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
  </div>
</div>
