<p>
  <strong>Make:</strong>
  <%= vehicle.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= vehicle.model %>
</p>

<p>
  <strong>List price:</strong>
  <%= vehicle.list_price %>
</p>

<p>
  <strong>Location:</strong>
  <%= vehicle.location.address %>
</p>

<p>
  <strong>Description: </strong>

</p>